backend/interview_project/embeddings.npy filter=lfs diff=lfs merge=lfs -text
backend/interview_project/faiss_index.bin filter=lfs diff=lfs merge=lfs -text
backend/Miniforge3-Darwin-arm64.sh filter=lfs diff=lfs merge=lfs -text
